/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #01010190;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header and Navigation Styles */
header {
    background-color: #d6ade1;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Portfolio Page Title Styling */
.portfolio-title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-top: 40px;
}

/* Button Container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* Option Button Styling */
.option-button {
    display: inline-block;
    background-color: #ed7a92;
    color: #3b3039;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.option-button:hover {
    background-color: #c468c4;
}

/* Go Back Button Styling */
.go-back-button {
    display: inline-block;
    background-color: #d6ade1; /* Matching footer color */
    color: #3b3039;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.go-back-button:hover {
    background-color: #c468c4;
}

.go-back-button:before {
   
    margin-right: 10px;
    font-size: 24px;
}

.go-back-button:hover:before {
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: #d6ade1;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

footer p {
    padding: 0;
    margin: 0;
}

.social-icons a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
}

.social-icons a:hover {
    text-decoration: underline;
}
