/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #01010190;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header and Navigation Styles */
header {
    background-color: #d6ade1;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Page Title Styling */
.page-title {
    text-align: center;
    font-size: 28px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Profile List Section Styling */
.profile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.profile-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #d6ade1;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    max-width: 300px;
    width: 100%;
    text-decoration: none; /* Remove underline from link */
}

.profile-item a {
    display: flex;
    align-items: center;
    color: #3b3039; /* Set link color */
    text-decoration: none; /* Remove underline from link */
    width: 100%;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-name {
    font-size: 18px;
    color: #3b3039;
}

/* Footer Styles */
footer {
    background-color: #d6ade1;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    padding: 5px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
}
/* Go Back Button Styling */
.go-back-container {
    text-align: center;
    margin-top: 20px;
}

.go-back-button {
    font-size: 16px;
    color: #3b3039;
    text-decoration: none;
    background-color: #d6ade1;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.go-back-button:hover {
    background-color: #b39acb;
    color: #fff;
}
